<template name="digitalMenu">

<div class="DMOuterCointainer" >

    <div class="container-fluid"> 
      <!--<div class="row">
        <div class="col-sm-4"><div align="center" class="DMHeader"><br/>Order Online & get 10% OFF<br/>www.chowpaatychaat.com</div></div>
        <div class="col-sm-4"><div align="center" class="DM-StoreName">Welcome to Chowpaaty Chaat</div></div>
        <div class="col-sm-4"><div align="center" class="DMHeader"><br/>Coming Soon!<br/>South Indian Dishes!!</div></div>
      </div>--> 

          {{#each getDMCategoryToBeDisplayed pageNumber}}



                  <div class="DMCategory">
                    <h4 align="center" class="DMTitle">{{name}}  </h4>
                     <div>
                      {{{getFormatedMenu name allowedCount partial startFrom}}}

                    </div>
                 </div>


          {{/each}}
      
    </div>

    <div align="center" class="DMFooter">Powered by Websheets&#8482;</div>
</div>


</template>